table {
    border-collapse: collapse
}

td, th {
    margin: 0;
    border: 1px solid black;
    padding: 5px;
}

th {
    background-color: rgb(248, 211, 0);
}

tr:nth-child(odd) {
    background-color: darkgrey;
}

tr:nth-child(even) {
    background-color: lightyellow;
}

/* .map-row {
    display: block; 
    float: left;
} */

.map-cell {
    width: 12px;
    height: 12px;
    text-align: center;
    font-size: 0.25em;
}